.ant-menu-item {
  height: auto !important;
  line-height: auto !important;
}

.ant-btn {
  z-index: 0 !important;
}

.ant-btn::before {
  z-index: 0 !important;
}

.ant-dropdown {
  position: fixed;
}

body {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #050505;
}