.main-header {
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
  border-top: none;
  box-shadow: 1px 1px 2px rgb(170, 169, 169);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  max-height: 62px;
}

.username-header {
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
}

.username-header:hover {
  // border: 1px solid rgb(212, 211, 211);
  background-color: rgb(238, 236, 236);
  box-shadow: 0px 1px 1px rgb(212, 211, 211);
}

.navbar-dropdown {
  margin-left: 10px;
  border-radius: 50%;
  padding: 7px 14px;
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.navbar-dropdown-icon {
  transform: scale(2);
  max-height: 20px;
  max-width: 20px;
}

.messenger {
  margin-left: 10px;
  border-radius: 50%;
  padding: 8px 12px;
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.messengerIcon {
  transform: scale(1.3);
}
