.home-component {
  background-color: #f0f2f5;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  position: relative;
}

.friend-list {
  position: fixed;
  left: 85%;
  top: 100px;
  min-width: 200px;
}

.friend-style {
  width: 100%;
  padding: 15px;
}

.post-article {
  width: 40%;
  margin: 40px auto;
}

.friendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 15px;
}

.friendItem:hover {
  background-color: #ebe9e9;
  transition: background-color 0.4s ease;
}

.userStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.userStatus.online {
  background-color: rgb(18, 194, 18);
}

.userStatus.offline {
  background-color: orange;
}
