.home-component {
    background-color: #f0f2f5;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
}

.home-middle {
    // width: 40%;
    // position: relative;
    // margin: 0 auto;
}