.post-component {
  color: black;
  background-color: #fff6ff;
  display: center;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  font-family: Arial;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: left;
  word-break: break-word;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.post-main {
  justify-content: center;
}
