.input-component {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #fff;
  width: 100%;
  margin: 0px auto;
  padding: 1em;
  position: relative;
  border-style: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ced0d2;
  overflow: hidden;
  
}

.btn-inputForm {
  border-style: none;
  background-color: #f0f2f5;
  width: 100%;
}

.btn-inputForm:hover {
  background-color: #e6e7e9;
  color: black;
}

.btn-inputForm:focus,
.btn-inputForm:active:focus {
  background-color: #f0f2f5;
  color: black;
}
