.searchInputContainer {
  position: relative;
}

.searchInput {
  max-width: 200px;
  border-radius: 15px;
  font-size: 20px;
}

.searchMenu {
  position: absolute;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0 0 2px rgb(224, 224, 224) !important;
  -webkit-box-shadow: 0 0 2px rgb(216, 214, 214) !important;
}
