.messageBoxs {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  bottom: 0;
  right: 10%;
  z-index: 1;
}

.messageFrame {
  height: 450px;
  margin-left: 20px;
  min-width: 320px;
  z-index: 1000;
  background-color: #fff;
  overflow: auto;
  position: relative;
  box-shadow: 0 0 2px 1px rgb(214, 212, 212);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.messageHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: blue;
  position: fixed;
  width: 320px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgb(214, 212, 212);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.messageInput {
  position: fixed;
  bottom: 0;
  width: 320px;
}

.messageList {
  margin-top: 70px;
  margin-bottom: 40px;
}

.messageLine {
  // padding: 10px;
  margin-bottom: 10px;
}

.myMessageLine {
  text-align: right;
}

.yourMessageLine {
  display: flex;
}

.message {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 16px;
}

.myMessage {
  color: #fff;
  background-color: blue;
}

.yourMessage {
  margin-left: 15px;
  border: 1px solid rgb(231, 228, 228);
}

.userStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.userStatus.online {
  background-color: rgb(18, 194, 18);
}

.userStatus.offline {
  background-color: orange;
}
