.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  margin-bottom: 0;
  cursor: pointer;
}

.header > h2:hover {
  text-decoration: underline;
}

.header > h3 {
  margin-bottom: 0;
  color: rgb(102, 102, 247);
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 400;
}

.header > h3:hover {
  background-color: rgb(231, 230, 230);
  transition: background-color 0.3s ease;
}

.friendList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
}

.friendItem {
  color: black;
  text-align: center;
}

.friendItem > p {
  font-weight: 500;
  font-size: 16px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}
